footer {
    position: fixed;
    z-index: 10;
}
iframe {
    margin-top: 20%;
    margin-bottom: 20%;
    height: 600vh;
    width: 100%;
}

@media (min-width: 500px) {
    iframe {
        margin-top: 10%;
        margin-bottom: 10%;
        height: 100%;
        width: 60%;
    }
}

@media (min-width: 960px) {
    iframe {
        margin-top: 10%;
        margin-bottom: 10%;
        height: 150%;
        width: 80%;
    }
}

.nav:hover {
    -webkit-box-shadow: 5px 5px 19px 0px #000000; 
    box-shadow: 5px 5px 19px 0px #000000;
    transform: scale(1.05); 
}